<div class="card">
  <div class="card-body">
    <h1 class="card-title fw-bolder text-muted text-hover-primary fs-2">
      Create New Center
    </h1>
    <hr />
    <div class="card-body">
      <form novalidate class="form" enctype="multipart/form-data">
        <h1 class="card-title fw-bolder text-muted text-hover-primary fs-4">
          Language Data
        </h1>
        <br />
        <div class="card-body border-top">
          <div class="col-lg-12 mt-10">
            <div class="row">
              <div class="col-lg-6 fv-col">
                <h2 class="fs-3">Name Arabic :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="arName"
                  name="ar[name]"
                />
              </div>
              <div class="col-lg-6">
                <h2 class="fs-3">Name English :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="enName"
                  name="en[name]"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-12 mt-10">
            <div class="row">
              <div class="col-lg-6 col-sm-12 fv-row">
                <h2 class="fs-3">Excerpt Ar :</h2>
                <textarea
                  [(ngModel)]="arExcerpt"
                  cols="50"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  name="ar[excerpt]"
                  placeholder="Arabic[expert]"
                ></textarea>
                <small>display in list not show in unit</small>
              </div>
              <div class="col-lg-6 col-sm-12 fv-row">
                <h2 class="fs-3">Excerpt En :</h2>
                <textarea
                  [(ngModel)]="enExcerpt"
                  cols="50"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  name="en[excerpt]"
                  placeholder="English[expert]"
                ></textarea>
                <small>display in list not show in unit</small>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mt-10">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2 class="fs-3">Description Ar :</h2>
                <editor
                  [(ngModel)]="arDescription"
                  name="arDescription"
                  id="arDescription"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 class="fs-3">Description En :</h2>
                <editor
                  [(ngModel)]="enDescription"
                  name="enDescription"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mt-10">
            <div class="row">
              <div class="col-lg-6">
                <h2 class="fs-3">Address Ar:</h2>
                <div>
                  <input
                    [(ngModel)]="arAddress"
                    type="text"
                    maxlength="50"
                    class="form-control form-control-lg form-control-solid"
                    name="address_ar"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <h2 class="fs-3">Address En:</h2>
                <div>
                  <input
                    [(ngModel)]="enAddress"
                    type="text"
                    maxlength="50"
                    class="form-control form-control-lg form-control-solid"
                    name="address_en"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <h1 class="card-title fw-bolder text-muted text-hover-primary fs-4">
          Other Data
        </h1>
        <div class="card-body border-top">
          <div
            class="input-group input-group-lg col-lg-15 d-flex gap-5 align-items-center"
          >
            <h2 for="doctor_image" class="fs-3">Image :</h2>
            <input
              name="image"
              type="file"
              class="form-control-lg form-control-solid mb-3 mb-lg-0"
              name="doctor_image"
              (change)="onFileSelected($event)"
            />
            <img
              id="image"
              style="display: none; border-radius: 10%"
              width="200"
              height="200"
            />

            <img
              *ngIf="image_name"
              [src]="image_name"
              style="border-radius: 10%"
              width="200"
              height="200"
            />
            <!-- <div>No Choose File</div> -->
          </div>
          <br />

          <div class="d-flex gap-5 align-items-center p-y-30">
            <h2 for="gallary" class="fs-3">Gallary:</h2>
            <div class="dropzone" style="height: 100% !important" appDnd>
              <input
                accept="image/*"
                type="file"
                name="gallary"
                (change)="onMultipleFileSelected($event)"
                multiple
              />
              <div
                id="image_gallery_selector"
                *ngIf="image_gallery_count === 0"
              >
                <img
                  style="width: 50px; height: 50px"
                  src="../../../../assets/custom/img/drag-up-svgrepo-com.svg"
                  alt="pic"
                />
                <h3>Drag and drop file here</h3>
                <h3>or</h3>
                <label for="fileDropRef">Browser for file</label>
              </div>
              <div *ngIf="image_gallery">
                <div
                  *ngFor="let file of image_gallery; let i = index"
                  class="dz-preview dz-processing dz-image-preview dz-complete"
                >
                  <!-- Display the image preview if the file type is an image -->
                  <img
                    *ngIf="file.type.includes('image')"
                    [src]="getPreviewImage(file)"
                    alt="Preview"
                    style="width: 200px; position: relative; border-radius: 10%"
                  />
                  <button
                    (click)="cancelUpload(i)"
                    style="
                      z-index: 100;
                      position: relative;
                      background: #2b2b40;
                      border-color: #2b2b40;
                      color: white;
                      margin-left: 5px;
                    "
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 row">
            <h2 class="fs-3 col-lg-1" style="padding-top: 10px">
              Insurance Company :
            </h2>
            <div class="col-lg-8">
              <input
                type="text"
                [(ngModel)]="insuranceCompany"
                name="doctor_insurance_company"
                class="form-control form-control-solid"
              />
            </div>
          </div>

          <div class="col-lg-12 row mt-10">
            <h2 class="fs-3 col-lg-1" style="padding-top: 10px">Phones :</h2>
            <div class="col-lg-8">
              <input
                [(ngModel)]="phone"
                type="text"
                maxlength="50"
                class="form-control form-control-lg form-control-solid"
                name="phones"
              />
            </div>
          </div>

          <!-- country -->
          <div class="col-lg-12 row mt-10">
            <div class="col-lg-4">
              <h2 for="price" class="fs-3">Country :</h2>
              <select
                class="form-control"
                [(ngModel)]="country_id"
                name="country_id"
                (change)="onCountryChange()"
              >
                <option value="-1">select the country</option>
                <option
                  *ngFor="let country of countries; let i = index"
                  [value]="country[0]"
                >
                  {{ country[1] }}
                </option>
              </select>
            </div>
            <div class="col-lg-4">
              <h2 for="price" class="fs-3">City :</h2>
              <select
                [(ngModel)]="city"
                name="address_city"
                class="form-control form-control-solid"
                (change)="onCityChange()"
              >
                <option value="-1">Select the City</option>
                <option
                  *ngFor="let item of cities; let i = index"
                  [value]="item.city_id"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="col-lg-4">
              <h2 for="price" class="fs-3">Area :</h2>
              <select
                [(ngModel)]="area"
                name="adress_area"
                class="form-control form-control-solid"
              >
                <option value="-1">Selecte the area</option>
                <option
                  *ngFor="let item of areas; let i = index"
                  [value]="item.area_id"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="d-flex align-items-center gap-5 p-y-30">
            <h5 for="gmap">GMAP</h5>
            <div class="col">
              <div
                class="border-bottom"
                style="margin-top: 16px; padding-bottom: 50px"
              >
                <iframe [src]="mapURL" height="450" width="100%"></iframe>
                <div class="d-flex gap-5 align-items-center">
                  <h4>LatLang:</h4>
                  <div class="border-bottom">
                    <input
                      [(ngModel)]="lat_lng"
                      class="form-control"
                      name="latlang"
                      (ngModelChange)="onChange_map($event)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="col-lg-12 row mt-10">
            <h2 class="card-title fw-bolder text-hover-primary fs-2">
              Speciality:
            </h2>
            <div
              *ngFor="let item of specialities; let i = index"
              class="col-lg-3 fv-row"
            >
              <input
                [value]="item[0]"
                name="parentBodyIds[]"
                class="filled-in chk-col-brown form-check-input subcp"
                type="checkbox"
                [checked]="specialty.includes(+item[0])"
                (change)="toggleCheckbox_specialty(item[0])"
              />
              <label for="subcp_1" class="fs-2" style="padding-left: 8px">{{
                item[1]
              }}</label>
            </div>
          </div>
          <div class="row g-2 align-items-center mt-10">
            <div class="col-auto">
              <h2
                class="card-title fw-bolder text-hover-primary fs-2"
                for="map_link"
              >
                Map Link:
              </h2>
            </div>
            <div class="col-auto">
              <input
                class="form-control border-none"
                type="text"
                name="map_link"
                [(ngModel)]="maplink"
              />
            </div>
          </div>
          <br />

          <!-- is Active -->
          <div
            class="input-group p-y-30 col-lg-15 d-flex gap-5 align-items-center"
          >
            <h2 class="fw-bolder col-auto" for="is_active">Is Active :</h2>
            <span>OFF</span>
            <div
              class="form-check form-check-custom form-check-solid form-check-success form-switch"
            >
              <input
                [(ngModel)]="is_active"
                class="form-check-input"
                type="checkbox"
                name="is_active"
              />
            </div>
            <span>ON</span>
          </div>
          <div class="col p-y-30 border-bottom" style="padding-bottom: 80px">
            <div class="row g-2 align-items-center">
              <div class="col-auto">
                <label for="tags" class="form-label">Tags:</label>
              </div>
              <!-- <div class="col-auto">
                  <input name="tags" class="form-control" type="text" />
                </div> -->
            </div>
          </div>

          <div class="col p-y-30 border-bottom" style="padding-bottom: 80px">
            <div class="row g-2 align-items-center">
              <div class="col-auto">
                <label for="tags" class="form-label">Subcatigory:</label>
              </div>
              <!-- <div class="col-auto">
                  <input name="tags" class="form-control" type="text" />
                </div> -->
            </div>
          </div>
        </div>
      </form>
      <div class="col d-flex gap-2 align-items-end" style="float: right">
        <button class="btn btn-md btn-secondary" (click)="reset()">
          Reset
        </button>
        <button class="btn btn-md btn-success" (click)="edit()">Edit</button>
      </div>
    </div>
  </div>
</div>
<p-toast class="custom-toast"></p-toast>
