.ilightbox-overlay,.ilightbox-loader,.ilightbox-loader *,.ilightbox-holder,.ilightbox-holder .ilightbox-container,.ilightbox-holder .ilightbox-container img.ilightbox-image,.ilightbox-holder .ilightbox-container .ilightbox-caption,.ilightbox-toolbar,.ilightbox-toolbar *,.ilightbox-thumbnails,.ilightbox-thumbnails *,.ilightbox-holder .ilightbox-container .ilightbox-social,.ilightbox-holder .ilightbox-container .ilightbox-social *{float:none;margin:0;padding:0;border:0;outline:0;font-size:100%;line-height:100%;vertical-align:baseline;background:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:-moz-none;-o-user-select:none;-ms-user-select:none;user-select:none}.ilightbox-overlay,.ilightbox-loader,.ilightbox-loader *,.ilightbox-holder .ilightbox-container .ilightbox-caption,.ilightbox-toolbar,.ilightbox-thumbnails,.ilightbox-thumbnails *,.ilightbox-holder .ilightbox-container .ilightbox-social{-webkit-transform:translateZ(0);transform:translateZ(0)}.ilightbox-noscroll{overflow:hidden}.ilightbox-closedhand *{cursor:url(ilightbox/closedhand.cur),default !important}.ilightbox-overlay{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000}.ilightbox-loader{position:fixed;z-index:100005;top:45%;left:-192px;padding-left:30px;opacity:0.9;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter:alpha(opacity=90);border-radius:0 100px 100px 0}.ilightbox-loader div{width:72px;height:72px;border-radius:0 100px 100px 0}.ilightbox-loader.horizontal{left:45%;top:-192px;padding:0;padding-top:30px;border-radius:0 0 100px 100px}.ilightbox-loader.horizontal div{border-radius:0 0 100px 100px}.ilightbox-toolbar{display:none;position:fixed;z-index:100010}.ilightbox-toolbar a{float:left;cursor:pointer}.ilightbox-toolbar .ilightbox-prev-button,.ilightbox-toolbar .ilightbox-next-button{display:none}.ilightbox-thumbnails{display:block;position:fixed;z-index:100009}.ilightbox-thumbnails.ilightbox-horizontal{bottom:0;left:0;width:100%;height:100px}.ilightbox-thumbnails.ilightbox-horizontal .ilightbox-thumbnails-container{width:100%;height:100px}.ilightbox-thumbnails.ilightbox-vertical{top:0;right:0;width:140px;height:100%;overflow:hidden}.ilightbox-thumbnails.ilightbox-vertical .ilightbox-thumbnails-container{width:140px;height:100%}.ilightbox-thumbnails .ilightbox-thumbnails-container{display:block;position:relative}.ilightbox-thumbnails .ilightbox-thumbnails-grid{display:block;position:absolute;-webkit-transform:translateZ(0);transform:translateZ(0)}.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail{display:block;cursor:pointer;padding:10px;position:relative}.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail img{width:100%;height:100%;border-radius:2px;-ms-interpolation-mode:bicubic}.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon{width:100%;height:100%;position:absolute;top:0;left:0;opacity:.7}.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon:hover{opacity:1}.ilightbox-holder{display:none;position:fixed;z-index:100003;-webkit-transform:none;-ms-transform:none;transform:none}.ilightbox-holder.ilightbox-next,.ilightbox-holder.ilightbox-prev{cursor:pointer}.ilightbox-holder div.ilightbox-container{position:relative;width:100%;height:100%}.ilightbox-holder.supportTouch div.ilightbox-container{overflow:scroll;-webkit-overflow-scrolling:touch}.ilightbox-holder img.ilightbox-image{width:100%;height:100%}.ilightbox-holder .ilightbox-container .ilightbox-caption{display:none;position:absolute;left:30px;right:30px;bottom:0;max-width:100%;padding:5px 10px;margin:0 auto;font-size:12px;line-height:150%;word-wrap:break-word;z-index:20003;box-sizing:border-box;border-radius:3px 3px 0 0}.ilightbox-holder .ilightbox-alert{display:block;position:absolute;left:0;right:0;top:0;bottom:0;text-align:center;padding-top:100px;margin:auto;width:300px;height:50px}.ilightbox-holder .ilightbox-wrapper{width:100%;height:100%;overflow:auto;-webkit-overflow-scrolling:touch}.ilightbox-holder .ilightbox-inner-toolbar{position:relative;z-index:100}.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-toolbar{position:absolute}.ilightbox-button{position:fixed;z-index:100008;cursor:pointer}.isMobile .ilightbox-button,.isMobile .ilightbox-thumbnails{display:none !important}.isMobile .ilightbox-toolbar .ilightbox-prev-button,.isMobile .ilightbox-toolbar .ilightbox-next-button{display:block}.ilightbox-title{font-size:12px !important}.ilightbox-title a{color:#ccc}.ilightbox-title a:hover{color:#ffffff}.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-title a,.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-title a{color:#555}.ilightbox-holder.light .ilightbox-inner-toolbar .ilightbox-title a:hover,.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-title a:hover{color:#000}

.ilightbox-overlay {
	background: #FFF;
}

.ilightbox-loader {
	-webkit-box-shadow: rgba(0,0,0,.3) 0px 0px 55px;
	        box-shadow: rgba(0,0,0,.3) 0px 0px 55px;
}
.ilightbox-loader div {
	background: #FFF url('preloader.gif') no-repeat center;
}

.ilightbox-holder {
	padding: 3px;
	background: #FFF;

	-webkit-box-shadow: 0 0 45px rgba(0,0,0,.2);
	        box-shadow: 0 0 45px rgba(0,0,0,.2);
}

.ilightbox-holder .ilightbox-container .ilightbox-caption {
	background: url('caption-bg.png') repeat-x bottom;
	background-size: 100% 100%;
	left: 0;
	right: 0;
	color: #000;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	padding-top: 15px;
}

.ilightbox-holder .ilightbox-container .ilightbox-social {
	background: url('social-bg.png');

	-webkit-border-radius: 2px;
	        border-radius: 2px;
}

.ilightbox-holder .ilightbox-alert {
	background: url('alert.png') no-repeat center top;
	color: #89949B;
}

/* Style toolbar */
.ilightbox-toolbar {
	top: 8px;
	left: 8px;
	height: 25px;
}

.ilightbox-toolbar a {
	width: 27px;
	height: 25px;
	background: white url('buttons.png') no-repeat 7px 6px;
}

.ilightbox-toolbar a:hover {
	background-color: #51b7ff;
}

.ilightbox-toolbar a.disabled {
	opacity: 0.2;
	filter: alpha(opacity=20);
	cursor: default;
	background-color: #FFF;
}

.ilightbox-toolbar a.ilightbox-close:hover {
	background-color: #d94947;
	background-position: -30px 6px;
}

.ilightbox-toolbar a.ilightbox-fullscreen {
	background-position: 6px -31px;
}

.ilightbox-toolbar a.ilightbox-fullscreen:hover {
	background-position: -29px -31px;
}

.ilightbox-toolbar a.ilightbox-play {
	background-position: 8px -55px;
}

.ilightbox-toolbar a.ilightbox-play:hover {
	background-position: -30px -55px;
}

.ilightbox-toolbar a.ilightbox-pause {
	background-position: 8px -81px;
}

.ilightbox-toolbar a.ilightbox-pause:hover {
	background-position: -30px -81px;
}

.isMobile .ilightbox-toolbar {
	background: #FFF;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: center;

	-webkit-box-shadow: 0 0 25px rgba(0,0,0,.2);
	        box-shadow: 0 0 25px rgba(0,0,0,.2);
}

.isMobile .ilightbox-toolbar a, .isMobile .ilightbox-toolbar a:hover {
	display: inline-block;
	float: none;
	width: 50px;
	height: 40px;
	background-size: 50%;
	background-position: 50%;
}

.isMobile .ilightbox-toolbar a.ilightbox-fullscreen {
	background-image: url('fullscreen-icon-64.png');
	background-image/*\**/: url('fullscreen-icon-ie.png')\9;  /* IE7-8 */
}

.isMobile .ilightbox-toolbar a.ilightbox-fullscreen:hover {
	background-image: url('fullscreen-hover-icon-64.png');
	background-image/*\**/: url('fullscreen-hover-icon-ie.png')\9;  /* IE7-8 */
}

.isMobile .ilightbox-toolbar a.ilightbox-close {
	background-image: url('x-mark-icon-64.png');
	background-image/*\**/: url('x-mark-icon-ie.png')\9;  /* IE7-8 */
}

.isMobile .ilightbox-toolbar a.ilightbox-close:hover {
	background-image: url('x-mark-hover-icon-64.png');
	background-image/*\**/: url('x-mark-hover-icon-ie.png')\9;  /* IE7-8 */
}

.isMobile .ilightbox-toolbar a.ilightbox-next-button {
	background-image: url('arrow-next-icon-64.png');
	background-image/*\**/: url('arrow-next-icon-ie.png')\9;  /* IE7-8 */
	background-position: 52% 50%;
}

.isMobile .ilightbox-toolbar a.ilightbox-next-button:hover {
	background-image: url('arrow-next-hover-icon-64.png');
	background-image/*\**/: url('arrow-next-hover-icon-ie.png')\9;  /* IE7-8 */
}

.isMobile .ilightbox-toolbar a.ilightbox-next-button.disabled {
	background-image: url('arrow-next-icon-64.png');
	background-image/*\**/: url('arrow-next-icon-ie.png')\9;  /* IE7-8 */
	background-position: 52% 50%;
}

.isMobile .ilightbox-toolbar a.ilightbox-prev-button {
	background-image: url('arrow-prev-icon-64.png');
	background-image/*\**/: url('arrow-prev-icon-ie.png')\9;  /* IE7-8 */
	background-position: 48% 50%;
}

.isMobile .ilightbox-toolbar a.ilightbox-prev-button:hover {
	background-image: url('arrow-prev-hover-icon-64.png');
	background-image/*\**/: url('arrow-prev-hover-icon-ie.png')\9;  /* IE7-8 */
}

.isMobile .ilightbox-toolbar a.ilightbox-prev-button.disabled {
	background-image: url('arrow-prev-icon-64.png');
	background-image/*\**/: url('arrow-prev-icon-ie.png')\9;  /* IE7-8 */
	background-position: 48% 50%;
}

.isMobile .ilightbox-toolbar a.ilightbox-play {
	background-image: url('play-icon-64.png');
	background-image/*\**/: url('play-icon-ie.png')\9;  /* IE7-8 */
}

.isMobile .ilightbox-toolbar a.ilightbox-play:hover {
	background-image: url('play-hover-icon-64.png');
	background-image/*\**/: url('play-hover-icon-ie.png')\9;  /* IE7-8 */
}

.isMobile .ilightbox-toolbar a.ilightbox-pause {
	background-image: url('pause-icon-64.png');
	background-image/*\**/: url('pause-icon-ie.png')\9;  /* IE7-8 */
}

.isMobile .ilightbox-toolbar a.ilightbox-pause:hover {
	background-image: url('pause-hover-icon-64.png');
	background-image/*\**/: url('pause-hover-icon-ie.png')\9;  /* IE7-8 */
}

/* Style thumbnails */
.ilightbox-thumbnails.ilightbox-horizontal {
	height: 104px;
}

.ilightbox-thumbnails.ilightbox-horizontal .ilightbox-thumbnails-container {
	height: 104px;
}

.ilightbox-thumbnails.ilightbox-vertical {
	width: 144px;
}

.ilightbox-thumbnails.ilightbox-vertical .ilightbox-thumbnails-container {
	width: 144px;
}

.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
	border: 2px solid #FFF;

	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
	        box-shadow: 0 0 10px rgba(0,0,0,.2);

	-webkit-border-radius: 0;
	        border-radius: 0;
}

.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {
	background: url('thumb-overlay-play.png') no-repeat center;
}

.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-title {
	font-size: 18px;
	padding: 10px 12px;
	padding-right: 60px;
	color: #535352;
}

.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-toolbar {
	left: auto;
	top: 5px;
	right: 5px;
}

.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-toolbar a {
	float: right;
}

/* Configure arrow buttons */
.ilightbox-button.disabled {
	opacity: 0.1;
	filter: alpha(opacity=10);
	cursor: default;
}
.ilightbox-button span {
	display: block;
	width: 100%;
	height: 100%;
}
.ilightbox-button.ilightbox-next-button,
.ilightbox-button.ilightbox-prev-button {
	bottom: 0;
	right: 0;
	left: 0;
	left/*\**/: 35%\9;  /* IE7-8 */
	right/*\**/: auto\9;  /* IE7-8 */
	width: 30%;
	height: 100px;
	margin: auto;
	background: url('arrows_vertical.png') no-repeat 50% -100px;
	background-color: #FFF;
	background-color: rgba(255,255,255,0.6);
}
.ilightbox-button.ilightbox-prev-button {
	top: 0;
	bottom: auto;
	background-position: 50% 0;
}
.ilightbox-button.ilightbox-next-button.horizontal,
.ilightbox-button.ilightbox-prev-button.horizontal {
	right: 0;
	left: auto;
	top: 0;
	bottom: 0;
	top/*\**/: 36%\9;  /* IE7-8 */
	bottom/*\**/: auto\9;  /* IE7-8 */
	width: 100px;
	height: 30%;
	background-image: url('arrows_horizontal.png');
	background-position: -93px 50%;
}
.ilightbox-button.ilightbox-prev-button.horizontal {
	right: auto;
	left: 0;
	background-position: -7px 50%;
}
