<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <app-tables-widget1
    class="card card-xxl-stretch mb-5 mb-xl-10 col-md-6 mb-md-5 mb-xl-10"
  ></app-tables-widget1>

  <canvasjs-chart
    style="display: block; margin-left: 5%; height: 515px"
    class="card col-md-5"
    [options]="chartOptions"
    [styles]="{ width: '100%', height: '100%' }"
  ></canvasjs-chart>

  <app-cards-widget7
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    [icon]="false"
    [stats]="357"
    description="Doctors"
    labelColor="dark"
    textColor="gray-300"
  ></app-cards-widget7>

  <app-cards-widget7
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    [icon]="false"
    [stats]="357"
    description="Branchies"
    labelColor="dark"
    textColor="gray-300"
  ></app-cards-widget7>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Pharmecies"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Labs"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>
</div>

<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Insurance Co."
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Hospitals"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Centers"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Medicines"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>
</div>
