<div class="col-lg-12 slideshow-container" [@slideAnimation]>   
    <img [src]="src+imageUrls[currentImageIndex]" alt="Slider Image"/>
    <a class="next" (click)="slideNext()">❯</a>
    <a class="prev" (click)="slidePrev()">❮</a>
    <br/>
</div>

<div class="col-lg-12 row mt-10">
  <app-tables-widget1
    class="card card-xxl-stretch col-lg-8"
  ></app-tables-widget1>

<!-- 
    <div class="card card-xxl-stretch col-lg-8">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-2 mb-1">Today : {{today}}</span>
        </h3>
      </div>
      <div class="card-body py-3 row">
        <div class="col-lg-6">
          
        </div>
        <div class="col-lg-6">

        </div>
      </div>
    </div> -->



    <canvasjs-chart
      style="height: 515px; "
      class="col-lg-4"
      [options]="chartOptions"
      [styles]="{ width: '100%', height: '100%' }"
    ></canvasjs-chart>
  

  <!-- <app-cards-widget7
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    [icon]="false"
    [stats]="357"
    description="Doctors"
    labelColor="dark"
    textColor="gray-300"
  ></app-cards-widget7>

  <app-cards-widget7
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    [icon]="false"
    [stats]="357"
    description="Branchies"
    labelColor="dark"
    textColor="gray-300"
  ></app-cards-widget7>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Pharmecies"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Labs"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>
</div>

<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Insurance Co."
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Hospitals"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Centers"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20>

  <app-cards-widget20
    class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10"
    description="Medicines"
    color="#F1416C"
    img="./assets/media/patterns/vector-1.png"
  ></app-cards-widget20> -->
</div>
