$brand-color:            #0073aa;
$brand-color-secondry:   #048fd2;
$bg-dark-color:          #23282d;
$bg-dark-color-secondry: #333333;
$success_color:       	 #3CAB06;
$dark_success_color:  	 darken($success_color, 10%);
$danger_color:        	 #e74c3c;
$dark-danger-color:   	 darken($danger_color, 5%);
$info_color:          	 #3498db;
$warning_color:       	 #f39c12;
