<div class="card">
  <div class="card-body">
    <h1 class="card-title fw-bolder text-muted text-hover-primary fs-2">
      Create Lab Service
    </h1>
    <hr />
    <div class="card-body">
      <form novalidate class="form">
        <h1 class="card-title fw-bolder text-muted text-hover-primary fs-4">
          Informatio Data
        </h1>
        <div class="card-body border-top">
          <div class="col-lg-12 row align-items-center">
            <h2 class="fs-3 col-lg-2">Lab Category:</h2>
            <div class="col-lg-4">
              <select
                class="form-control"
                [(ngModel)]="lab_category_id"
                name="lab_category_id"
              >
                <option class="fs-3" value="-1">Select the Category</option>
                <option
                  class="fs-3"
                  *ngFor="let category of lab_categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
          </div>
          <br />
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 fv-col">
                <h2 class="fs-3">Name Arabic :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="arName"
                  name="ar[name]"
                  (ngModelChange)="onInputChange1($event)"
                />
                <div
                  *ngIf="errorMessage1"
                  class="error-message fs-6"
                  style="color: red"
                >
                  {{ errorMessage1 }}
                </div>
              </div>
              <div class="col-lg-6">
                <h2 class="fs-3">Name English :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="enName"
                  name="en[name]"
                  (ngModelChange)="onInputChange2($event)"
                />
                <div
                  *ngIf="errorMessage2"
                  class="error-message fs-6"
                  style="color: red"
                >
                  {{ errorMessage2 }}
                </div>
              </div>
            </div>
          </div>

          <br />
          <br />
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3 fv-col">
                <h2 class="fs-3">Sample Ar :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="arSample"
                  name="ar[Sample]"
                />
              </div>
              <div class="col-lg-3">
                <h2 class="fs-3">Normal Range Male Ar :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="arRangeM"
                  name="ar[normal_range_Male]"
                />
              </div>
              <div class="col-lg-3 fv-col">
                <h2 class="fs-3">Normal Range Female Ar :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="arRangeF"
                  name="ar[normal_range_Femail]"
                />
              </div>
              <div class="col-lg-3">
                <h2 class="fs-3">Measruing Unit Ar :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="arMeasruing_unit"
                  name="ar[measruing_unit]"
                />
              </div>
            </div>
          </div>
          <br />
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3 fv-col">
                <h2 class="fs-3">Sample En :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="enSample"
                  name="en[Sample]"
                />
              </div>
              <div class="col-lg-3">
                <h2 class="fs-3">Normal Range Male En :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="enRangeM"
                  name="en[normal_range_Mail]"
                />
              </div>
              <div class="col-lg-3 fv-col">
                <h2 class="fs-3">Normal Range Female En :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="enRangeF"
                  name="en[normal_range_Femail]"
                />
              </div>
              <div class="col-lg-3">
                <h2 class="fs-3">Measruing Unit En :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="enMeasruing_unit"
                  name="en[measruing_unit]"
                />
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="col-lg-12 p-y-30">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2>About Test Ar :</h2>
                <editor
                  name="ar[about_test]"
                  [(ngModel)]="arAboutTest"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 for="descriptionar">About Test En :</h2>
                <editor
                  name="en[about_test]"
                  [(ngModel)]="enAboutTest"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2>Used To Ar :</h2>
                <editor
                  name="ar[used_to]"
                  [(ngModel)]="arUseTo"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 for="descriptionar">Used To En :</h2>
                <editor
                  name="en[used_to]"
                  [(ngModel)]="enUseTo"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2>Reasons For Ar :</h2>
                <editor
                  name="ar[reasons_for]"
                  [(ngModel)]="arReasonFor"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 for="descriptionar">Reasons For En :</h2>
                <editor
                  name="en[reasons_for]"
                  [(ngModel)]="enReasonFor"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2>How Is Ar :</h2>
                <editor
                  name="ar[how_is]"
                  [(ngModel)]="arHowIs"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 for="descriptionar">How IS En :</h2>
                <editor
                  name="en[how_is]"
                  [(ngModel)]="enHowIs"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2>How Prepare Ar :</h2>
                <editor
                  name="ar[how_prepare]"
                  [(ngModel)]="arHowPrepare"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 for="descriptionar">How Prepare En :</h2>
                <editor
                  name="en[how_prepare]"
                  [(ngModel)]="enHowPrepare"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2>Risk Ar :</h2>
                <editor
                  name="ar[risks]"
                  [(ngModel)]="arRisk"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 for="descriptionar">Risk En :</h2>
                <editor
                  name="en[risks]"
                  [(ngModel)]="enRisk"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2>Interpretation Result Ar :</h2>
                <editor
                  name="ar[interpretation_result]"
                  [(ngModel)]="arInterpretationResult"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 for="descriptionar">Interpretation Result En :</h2>
                <editor
                  name="en[interpretation_result]"
                  [(ngModel)]="enInterpretationResult"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2>Reasons High Reading Ar :</h2>
                <editor
                  name="ar[reasons_high_reading]"
                  [(ngModel)]="arReasonReading"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 for="descriptionar">easons High Reading En :</h2>
                <editor
                  name="en[reasons_high_reading]"
                  [(ngModel)]="enReasonReading"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6 fv-row">
                <h2>Refrences Ar :</h2>
                <editor
                  name="ar[references]"
                  [(ngModel)]="arReference"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <h2 for="descriptionar">Refrences En :</h2>
                <editor
                  name="en[references]"
                  [(ngModel)]="enReference"
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: true,
                    plugins: 'image emoticons table formatselect link unlink charmap',

                  }"
                  toolbar="undo redo | formatselect | bold italic forecolor backcolor 
                  | link unlink | image | table | charmap | emoticons | hr | blocks 
                  | bullist numlist | removeformat | help | wordcount | outdent indent 
                  | alignleft aligncenter alignright alignjustify | subscript superscript"
                ></editor>
              </div>
            </div>
          </div>
          <br />
          <div
            class="input-group input-group-lg col-lg-15 d-flex gap-5 align-items-center"
          >
            <h2 for="doctor_image" class="card-title fw-bolder">Image :</h2>
            <!-- <div class="p-5 border rounded-lg">Choose File</div> -->
            <input
              type="file"
              class="form-control-lg form-control-solid mb-3 mb-lg-0"
              name="image"
              [(ngModel)]="image"
              (change)="onFileSelected($event)"
            />
            <img
              id="image"
              style="display: none; border-radius: 10%"
              width="200"
              height="200"
            />
            <img
              *ngIf="image_name"
              [src]="image_name"
              style="border-radius: 10%"
              width="200"
              height="200"
            />

            <!-- <div>No Choose File</div> -->
          </div>
        </div>
      </form>
      <div class="col d-flex gap-2 align-items-end" style="float: right">
        <button class="btn btn-md btn-secondary" (click)="reset()">
          Reset
        </button>
        <button class="btn btn-md btn-success" (click)="edit()">Edit</button>
      </div>
    </div>
  </div>
</div>
<p-toast class="custom-toast"></p-toast>
