<p>create-disease works!</p>
<div class="card">
  <div class="card-body">
    <h1 class="card-title fw-bolder text-muted text-hover-primary fs-2">
      Create Medicine Category
    </h1>
    <hr />
    <div class="card-body">
      <form novalidate class="form">
        <h1 class="card-title fw-bolder text-muted text-hover-primary fs-4">
          Language Data
        </h1>
        <div class="card-body border-top">
          <div class="col-lg-12 mt-10">
            <div class="row">
              <div class="col-lg-6 fv-col">
                <h2 class="fs-3">Name Arabic :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="arName"
                  name="ar[name]"
                  (ngModelChange)="onInputChange1($event)"
                />
                <div
                  *ngIf="errorMessage1"
                  class="error-message fs-6"
                  style="color: red"
                >
                  {{ errorMessage1 }}
                </div>
              </div>
              <div class="col-lg-6">
                <h2 class="fs-3">Name English :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  [(ngModel)]="enName"
                  name="en[name]"
                  (ngModelChange)="onInputChange2($event)"
                />
                <div
                  *ngIf="errorMessage2"
                  class="error-message fs-6"
                  style="color: red"
                >
                  {{ errorMessage2 }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-10 align-items-center row">
            <h2 class="fs-3 col-lg-1">Country :</h2>
            <div class="col-lg-6">
              <select
                class="form-control"
                [(ngModel)]="country_id"
                name="country_id"
              >
                <option value="-1">select the country</option>
                <option
                  *ngFor="let country of countries; let i = index"
                  [value]="country[0]"
                >
                  {{ country[1] }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-lg-12 mt-10 align-items-center row">
            <h2 class="fs-3 col-lg-1">Sub Category :</h2>
            <div class="col-lg-6">
              <select
                class="form-control"
                [(ngModel)]="sub_category_id"
                name="sub_category_id"
              >
                <option value="-1">select the category</option>
                <option
                  *ngFor="let item of sub_categories; let i = index"
                  [value]="item[0]"
                >
                  {{ item[1] }}
                </option>
              </select>
            </div>
          </div>

          <!-- is Active -->
          <div
            class="input-group p-y-30 col-lg-15 d-flex gap-5 align-items-center mt-10"
          >
            <h2 class="fs-3" for="is_active">Is Active :</h2>
            <span>OFF</span>
            <div
              class="form-check form-check-custom form-check-solid form-check-success form-switch"
            >
              <input
                [(ngModel)]="is_active"
                class="form-check-input"
                type="checkbox"
                name="is_active"
              />
            </div>
            <span>ON</span>
          </div>
        </div>
      </form>
      <div class="col d-flex gap-2 align-items-center mt-10">
        <button class="btn btn-md btn-secondary" (click)="reset()">
          Reset
        </button>
        <button class="btn btn-md btn-success" (click)="create()">Edit</button>
      </div>
    </div>
  </div>

  <script
    src="https://cdn.tiny.cloud/1/your-api-key/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"
  ></script>

  <script>
    tinymce.init({
      selector: "#editor",
      plugins:
        "a11ychecker advcode advlist advtable anchor autocorrect autolink autoresize autosave casechange charmap checklist code codesample directionality editimage emoticons export footnotes formatpainter fullscreen help image importcss inlinecss insertdatetime link linkchecker lists media mediaembed mentions mergetags nonbreaking pagebreak pageembed permanentpen powerpaste preview quickbars save searchreplace table tableofcontents template tinycomments tinydrive tinymcespellchecker typography visualblocks visualchars wordcount",
    });
  </script>
</div>
