<div class="card">
  <div class="card-body">
    <h1 class="card-title fw-bolder text-muted text-hover-primary fs-2">
      Create Lab
    </h1>
    <hr />
    <div class="card-body">
      <form
        novalidate
        class="form"
        method="post"
        action="http://localhost:8000/admin/body_part/store"
      >
        <h1 class="card-title fw-bolder text-muted text-hover-primary fs-4">
          Language Data
        </h1>
        <div class="card-body border-top">
          <br />
          <h2 class="card-title fw-bolder text-hover-primary fs-2">
            Lab Company:
          </h2>
          <div
            class="col-lg-12 row"
            style="text-align: center; padding: 0px 50px"
          >
            <div class="col-lg-6 fv-row">
              <input
                class="filled-in chk-col-brown form-check-input subcp"
                type="checkbox"
              />
              <label for="subcp_1" class="fs-2" style="padding-left: 8px"
                >المختبر</label
              >
            </div>
            <div class="col-lg-6 fv-row">
              <input
                class="filled-in chk-col-brown form-check-input subcp"
                type="checkbox"
              />
              <label for="subcp_1" class="fs-2" style="padding-left: 8px"
                >البرج</label
              >
            </div>
          </div>
          <br />
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 fv-col">
                <h2 class="fs-2">Name Arabic :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  name=""
                />
              </div>
              <div class="col-lg-6">
                <h2 class="fs-2">Name English :</h2>
                <input
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  name=""
                />
              </div>
            </div>
          </div>

          <br />
          <div class="col-lg-12 form-group p-y-30">
            <div class="row">
              <div class="col-lg-6 col-sm-12 fv-row">
                <h2 class="fs-2">Excerpt Ar :</h2>
                <textarea
                  cols="50"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  name=""
                  placeholder="Arabic[expert]"
                ></textarea>
                <small>display in list not show in unit</small>
              </div>
              <div class="col-lg-6 col-sm-12 fv-row">
                <h2 class="fs-2">Excerpt En :</h2>
                <textarea
                  cols="50"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  name=""
                  placeholder="English[expert]"
                ></textarea>
                <small>display in list not show in unit</small>
              </div>
            </div>
          </div>
          <br />
          <div class="col-lg-12 p-y-30">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <label for="descriptionar">Description Ar :</label>
                <!-- <textarea class="form-control tinymce" placeholder="Description" [(ngModel)]="enDescription" name="en[description]" cols="50" rows="10"></textarea> -->
                <editor
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: false
                  }"
                ></editor>
              </div>
              <div class="col-lg-6 fv-row">
                <label for="descriptionar">Description En :</label>
                <editor
                  placeholder="Description"
                  cols="50"
                  rows="10"
                  apiKey="1xg87i6whyk8ide6q0xf8bdxlhl23bmgnsf5l34mfqh10s2q"
                  [init]="{
                    height: 500,
                    menubar: false
                  }"
                  toolbar="
                                            undo redo | formatselect | bold italic backcolor | \
                                            alignleft aligncenter alignright alignjustify | \
                                            bullist numlist outdent indent | removeformat | help | undo redo | blocks | bold italic | alignleft aligncenter alignright alignjustify | indent outdent | wordcount"
                ></editor>
              </div>
            </div>
          </div>
          <br />
          <div class="col-lg-12 form-group p-y-30">
            <div class="row">
              <div class="col-lg-6 col-sm-12 fv-row">
                <h2 class="fs-2">Address Ar :</h2>
                <textarea
                  cols="50"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  name=""
                  placeholder="Arabic[expert]"
                ></textarea>
                <small>display in list not show in unit</small>
              </div>
              <div class="col-lg-6 col-sm-12 fv-row">
                <h2 class="fs-2">Address En :</h2>
                <textarea
                  cols="50"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  type="text"
                  name=""
                  placeholder="English[expert]"
                ></textarea>
                <small>display in list not show in unit</small>
              </div>
            </div>
          </div>
          <br />
          <br />
        </div>

        <h1 class="card-title fw-bolder text-muted text-hover-primary fs-4">
          Other Data
        </h1>
        <div class="card-body border-top">
          <div
            class="input-group input-group-lg col-lg-15 d-flex gap-5 align-items-center"
          >
            <h2 for="doctor_image" class="card-title fw-bolder">Image :</h2>
            <!-- <div class="p-5 border rounded-lg">Choose File</div> -->
            <input
              type="file"
              class="form-control-lg form-control-solid mb-3 mb-lg-0"
              name="doctor_image"
            />
            <!-- <div>No Choose File</div> -->
          </div>
          <br />
          <div class="row p-y-30">
            <h3 for="doctor_hospital">Insurance Company</h3>
            <input
              name="insurance_company"
              value=""
              class="form-control form-control-solid"
            />
          </div>
          <br />

          <div class="row p-y-30">
            <h3 for="doctor_hospital">Phone</h3>
            <input
              name="phone number"
              value=""
              placeholder=""
              class="form-control form-control-solid"
            />
            <small>separate between numbers using "/"</small>
          </div>
          <br />

          <!-- country -->
          <div class="row p-y-30">
            <h4 for="country_name">Country:</h4>
            <select
              address="address_country"
              class="form-control form-control-solid"
            >
              <option value="">Nothing Selected</option>
              <option value="ar">Ar</option>
              <option value="uk">UK</option>
              <option value="ca">CA</option>
              <option value="ga">GA</option>
            </select>
          </div>
          <br />

          <!-- city -->
          <div class="row p-y-30">
            <h4 for="country_name">City:</h4>
            <select name="address_city" class="form-control form-control-solid">
              <option value="">Nothing selected</option>
              <option value="ar">Ar</option>
              <option value="uk">UK</option>
              <option value="ca">CA</option>
              <option value="ga">GA</option>
            </select>
          </div>
          <br />

          <!-- area -->
          <div class="row p-y-30">
            <h4 for="country_name">Area:</h4>
            <select name="adress_area" class="form-control form-control-solid">
              <option value=""></option>
              <option value="ar">Ar</option>
              <option value="uk">UK</option>
              <option value="ca">CA</option>
              <option value="ga">GA</option>
            </select>
          </div>
          <br />
          <br />

          <div class="d-flex align-items-center gap-5 p-y-30">
            <h5 for="gmap">GMAP</h5>
            <div class="col">
              <div class="bg-primary" style="width: 100%; height: 300px"></div>
              <div
                class="border-bottom"
                style="margin-top: 16px; padding-bottom: 50px"
              >
                <div class="d-flex gap-5 align-items-center">
                  <h4>LatLang:</h4>
                  <div class="border-bottom">
                    <input class="form-control" name="latlang" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row g-2 align-items-center">
            <div class="col-auto">
              <h5 for="map_link">Map Link:</h5>
            </div>
            <div class="col-auto">
              <input class="form-control border-none" name="map_link" />
            </div>
          </div>
          <br />
          <div
            class="input-group input-group-lg col-lg-15 d-flex gap-5 align-items-center"
          >
            <h1
              class="card-title fw-bolder text-muted fs-4"
              style="display: block; text-align: center; padding: 10px"
            >
              Is Active :
            </h1>
            <span>OFF</span>
            <div
              class="form-check form-check-custom form-check-solid form-check-success form-switch"
            >
              <input
                class="form-check-input"
                type="checkbox"
                name="model.app.sidebar.default.minimize.desktop.enabled"
              />
            </div>
            <span>ON</span>
          </div>
        </div>
      </form>
      <div class="col d-flex gap-2 align-items-end" style="float: right">
        <button class="btn btn-md btn-secondary">Reset</button>
        <button class="btn btn-md btn-success">Save</button>
        <button class="btn btn-md btn-primary">Save & create new</button>
      </div>
    </div>
  </div>
</div>
